<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/login.css">
</head>
<body>
	<div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
            <div class="back-bottom"></div>
        </div>
        <div class="container front-container1">
        	<div class="login-page">
		    <div class="form">
		        <form class="login-form" method="POST">
		            {% csrf_token %}
		            <input type="text" placeholder="username" name="username" />
		            <input type="password" placeholder="password" name="password" />
		            <button>login</button>
		            <p class="message">Not registered? <a href="{% url 'accounts:register' %}">Create an account</a></p>
		        </form>
		    </div>
	</div>
        </div>    
    </div>
	
</body>
</html>