.back-top {
    background-color: #009688;
    height: 2.5vh;
}

.back-main {
    background-color: #d9dbd5;
    height: 95vh;
}

.back-bottom {
    background-color: #009688;
    height: 2.5vh;
}

.back-container {
    position: relative;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.row-chat-top {
    display: flex;
}

.row-chat-top-child {
    flex: 1;
    text-align: center;
}

.row-chat-top-child:first-child {
    margin-right: 20px;
    text-align: center;
}

.message-box {
    display: flex;
}

.message-box-child {
    flex: 1;
    text-align: left;
}

.message-box-child:first-child {
    text-align: left;
}

.contacts-table{
    width: 100%;
    text-align: center;
}

.front-container1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.chat-top {
    background-color: #ededed;
}

.chat-table {
    width: 100%;
}

.profile-image {
    margin-top: 7px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
}

.contacts {
    margin-top: 20px;
    background-color: #e4e1de;
}

.contact-table-scroll {
    overflow-y: scroll;
}

.message-area {
    margin-top: 20px;
    background-color: #e4e1de;
    max-height: 60vh;
}

.message-table-scroll {
    overflow-y: scroll;
    max-height: 60vh;

}

.message-box {
    background-color: #f0f0f0;
    height: fit-content;
}

.blue_box, .green_box {
    display: block;
    clear:both;
}
.blue_box span {
    background-color: rgb(40, 105, 226);
    color: white;
    padding: 10px 5px;
    display: block;
    float: right;
}
.green_box span {
    background-color: #009688;
    color: white;
    padding: 10px 5px;
    display: block;
    float: left;
}