


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.back-top {
    background-color: #009688;
    height: 2.5vh;
}

.imageContainer{
    height: 100px;
    text-align: center;
    margin-bottom: 25px; 
}

.imageContainer img{
    height: 100%;
}

.back-main {
    background-color: #d9dbd5;
    height: 95vh;
}

.back-bottom {
    background-color: #009688;
    height: 2.5vh;
}

.back-container {
    position: relative;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.row-chat-top {
    display: flex;
    border: solid gray 1px;
    border-radius: 25px;
    overflow: hidden;
}

.row-chat-top-child {
    text-align: center;
    width: 75%;
}

.row-chat-top-child:first-child {
    text-align: center;
    width: 25%;
    border-right: solid 1px rgba(0,0,0,0.1);
}

.message-box {
    display: flex;
}

.message-box-child {
    text-align: left;
}

.message-box-child:first-child {
    text-align: left;
}

.contacts-table{
    width: 100%;
    text-align: left;
    border-top: black solid 3px;
}

.front-container1 {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 60%;
    margin: 2% auto;
}

.chat-top {
    background-color: #ededed;
}

.chat-table {
    width: 100%;
}

.profile-image {
    margin-top: 17px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    border: black solid 1px;
}

.contacts {
    margin-top: 20px;
    background-color: #e4e1de;
}

.contact-table-scroll {
    overflow-y: scroll;
}

.message-area {
    margin-top: 20px;
    background-color: #e4e1de;
    max-height: 60vh;
}

.message-table-scroll {
    overflow-y: scroll; 
    max-height: 53vh;
}

.message-table-scroll::-webkit-scrollbar {
    display: none;
}

.message-box {
    background-color: #f0f0f0;
    height: 60px;
    display: flex;
}

.message-box-child{
    display: inline-block;
    width: 5%;
}

.message-box-child button {
    margin: 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 0 10px 10px 0;
    height: 40px;
    padding: 10px;
}

.message-box-child button:hover {
    background-color: #7CFC00;
    color: black;
}

.message-box-child:first-child{
    display: inline-block;
    width: 90%;
}

.message-box-child:first-child input{
    border: none;
    margin: 10px;
    display: inline-block;
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 10px 0 0 10px;
}


.blue_box, .green_box {
    display: block;
    clear:both;
}
.blue_box span {
    color: white;
    padding: 10px 5px;
    display: block;
    float: right;
}
.green_box span {
    color: white;
    padding: 10px 5px;
    display: block;
    float: left;
}

tbody > tr > td > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 7px;
}


.row-chat-top-child:first-child tbody tr td{
    border-top: solid gray 1px;
}

.green_box{
    display: inline-block;
    background-color: #009688;
    border-radius: 0 10px 10px 0;
    padding-right: 5px;
}

.blue_box{
    display: inline-block;
    background-color: rgb(40, 105, 226);
    border-radius: 10px 0 0 10px;
    padding-left: 5px;
    padding-right: 3px;
}