<!-- chat/templates/chat/index.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<body>
    <div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
            <div class="back-bottom"></div>
        </div>
        <div class="container front-container1">
            <div class="row-chat-top">
                <div class="row-chat-top-child">
                    <img src="{% static 'assets/defaultpicture.jpeg' %}" alt="" class="profile-image">
                    <span style="text-align: center;">{{request.user.username}}</span>
                    </span>
                    <div class="">
                        <div class="contacts">
                            <table class="contacts-table">
                                <thead>Contacts</thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td><img src="{% static 'assets/defaultpicture.jpeg' %}" alt=""
                                            class="profile-image">
                                            <a href="{% url 'chat' username=user.username %}">{{user.username}}</a></td>
                                    </tr>
                                    {% endfor %}
                                    <!-- end -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row-chat-top-child">
                    <img src="{% static 'assets/defaultpicture.jpeg' %}" alt="" class="profile-image">
                    <span class="ml-2">{{user.username}}</span>
                    </span>
                    <div class="col-sm-8 message-area">
                        <div class="message-table-scroll">
                            <table class="chat-table">
                                <tbody id='chat-body'>
                                    {% for message in messages %}
                                    {% if message.fields.sender == request.user.username %}
                                    <tr style="text-align: right;"> 
                                        <td class="sent-message">
                                            <div class="blue_box">
                                                <span>
                                                    {{message.fields.message}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr style="text-align: left;">
                                        <td class="received-message">
                                            <div class="green_box">
                                                <span>
                                                    {{message.fields.message}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="message-box">
                            <div class="message-box-child">
                                <input type="text" class="form-control" id="message_input" placeholder="Write message..." size="40px">
                            </div>
                            <div class="message-box-child">
                                <button class="btn btn-success" id="chat-message-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{user.id|json_script:"json-username"}}
    {{request.user.username|json_script:"json-message-username"}}
    <script src="{% static 'js/chat.js' %}"></script>
</body>

</html>